@charset "UTF-8";
@-webkit-keyframes color-animation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes color-animation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

/* 色のアニメーション */
@media screen and (max-width: 1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  .box {
    width: 80% !important;
  }
  #children-button, #female-button, #adult-button {
    display: none;
  }
  .iro {
    float: none !important;
    margin-left: 20px !important;
  }
  h2 {
    width: 100% !important;
  }
  body {
    margin-left: 0 !important;
  }
  .box {
    width: 100% !important;
  }
}

header {
  width: 100%;
  height: 50px;
  background: #000000;
  position:fixed;
  top:0;
}

header a {
  color: white;
  padding-left: 30px;
  line-height: 50px;
  text-decoration: none;
}

header #pattern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#children-button, #female-button, #adult-button, #labo-button, #colors {
  -webkit-transition: .3s;
  transition: .3s;
}

#children-button:hover, #female-button:hover, #adult-button:hover, #labo-button:hover, #colors:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#children, #female, #adult, #labo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

h2 {
  margin-left: 20px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  border-bottom: solid 3px skyblue;
  position: relative;
  width: 12%;
}

h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 29%;
}

#labo h3 {
  border-bottom: 1px solid;
}

.box {
  padding: 20px;
  width: 40%;
}

.box p {
  padding: 5px 0 0 5px;
}

.sunshine-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffdc00;
}

.sunshine-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #008554;
}

.emerald-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #00b5de;
}

.emerald-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f8b516;
}

.turquoise-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #0db8d9;
}

.turquoise-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffe600;
}

.goldenBrown-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #d38120;
}

.goldenBrown-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #fdd133;
}

.lapisLazuli-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #261f87;
}

.lapisLazuli-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #51a5dc;
}

.lapisLazuli-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffdc00;
}

.summerGreen-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #008442;
}

.summerGreen-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f08a37;
}

.summerGreen-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f8b800;
}

.cherry-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f7c8da;
}

.cherry-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #fbe5eb;
}

.redBeans-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #864544;
}

.redBeans-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f5b8b5;
}

.frenchBlue-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #0086c0;
}

.frenchBlue-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #fdf0f1;
}

.palepink-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #fbe5e7;
}

.palepink-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #fffabb;
}

.shinyPink-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f7c6bd;
}

.shinyPink-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #9fd8ee;
}

.shinyPink-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #eaf6fd;
}

.reflectionBlue-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #9fd8ee;
}

.reflectionBlue-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #e2eba3;
}

.reflectionBlue-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f7c6bd;
}

.calmBrown-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #c6b3a3;
}

.calmBrown-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #e5e2da;
}

.powderSnow-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #eaf2fa;
}

.powderSnow-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #c1d2e9;
}

.koke-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #6e9452;
}

.koke-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f0ced3;
}

.blueBlack-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #434e48;
}

.blueBlack-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f4ecd0;
}

.inkBlue-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #00426d;
}

.inkBlue-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #b69b63;
}

.inkBlue-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ac291d;
}

.deepYellow-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #d5a945;
}

.deepYellow-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #324658;
}

.deepYellow-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #4c6f9e;
}

.second-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #00a6b5;
}

.second-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.second-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #00a6b5), to(#00a6b5));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #00a6b5 50%, #00a6b5 100%);
  border: 1px solid #ebede8;
}

.second-4 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #940000), to(#940000));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #940000 50%, #940000 100%);
  border: 1px solid #ebede8;
}

.second-5 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #940000), to(#940000));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #940000 50%, #940000 100%);
  border: 1px solid #ebede8;
}

.second-6 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.second-7 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#d998c1), color-stop(50%, #d998c1), color-stop(50%, #8a0094), to(#8a0094));
  background: linear-gradient(90deg, #d998c1 0%, #d998c1 50%, #8a0094 50%, #8a0094 100%);
}

.second-8 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(50%, #000000), color-stop(50%, #8a0094), to(#8a0094));
  background: linear-gradient(90deg, #000000 0%, #000000 50%, #8a0094 50%, #8a0094 100%);
}

.second-9 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.second-10 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#1b00c9), color-stop(50%, #1b00c9), color-stop(50%, #f200e6), to(#f200e6));
  background: linear-gradient(90deg, #1b00c9 0%, #1b00c9 50%, #f200e6 50%, #f200e6 100%);
}

.second-11 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #3d3d3b;
}

.second-12 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.third-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#f6a6ff), color-stop(50%, #f6a6ff), color-stop(50%, #00cc0e), to(#00cc0e));
  background: linear-gradient(90deg, #f6a6ff 0%, #f6a6ff 50%, #00cc0e 50%, #00cc0e 100%);
}

.third-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #00cc0e;
}

.third-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f9ff54;
}

.third-4 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffb5), color-stop(50%, #ffffb5), color-stop(50%, #242419), to(#242419));
  background: linear-gradient(90deg, #ffffb5 0%, #ffffb5 50%, #242419 50%, #242419 100%);
}

.third-5 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.third-6 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.third-7 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#0000ff), color-stop(50%, #0000ff), color-stop(50%, #ffb114), to(#ffb114));
  background: linear-gradient(90deg, #0000ff 0%, #0000ff 50%, #ffb114 50%, #ffb114 100%);
}

.third-8 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #ffb114), to(#ffb114));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #ffb114 50%, #ffb114 100%);
  border: 1px solid #ebede8;
}

.third-9 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.third-10 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#f8ff24), color-stop(50%, #f8ff24), color-stop(50%, #ff00ff), to(#ff00ff));
  background: linear-gradient(90deg, #f8ff24 0%, #f8ff24 50%, #ff00ff 50%, #ff00ff 100%);
}

.third-11 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(50%, #000000), color-stop(50%, #ff00ff), to(#ff00ff));
  background: linear-gradient(90deg, #000000 0%, #000000 50%, #ff00ff 50%, #ff00ff 100%);
}

.third-12 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #f8ff24), to(#f8ff24));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #f8ff24 50%, #f8ff24 100%);
  border: 1px solid #ebede8;
}

.four-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#84e3e0), color-stop(50%, #84e3e0), color-stop(50%, #ff00ff), to(#ff00ff));
  background: linear-gradient(90deg, #84e3e0 0%, #84e3e0 50%, #ff00ff 50%, #ff00ff 100%);
}

.four-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #000000;
}

.four-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #84e3e0), to(#84e3e0));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #84e3e0 50%, #84e3e0 100%);
  border: 1px solid #ebede8;
}

.four-4 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(50%, #000000), color-stop(50%, #ffffff), to(#ffffff));
  background: linear-gradient(90deg, #000000 0%, #000000 50%, #ffffff 50%, #ffffff 100%);
  border: 1px solid #ebede8;
}

.four-5 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.four-6 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.four-7 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #254c78), to(#254c78));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #254c78 50%, #254c78 100%);
  border: 1px solid #ebede8;
}

.four-8 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #254c78;
}

.four-9 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.four-10 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #00de0f), to(#00de0f));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #00de0f 50%, #00de0f 100%);
  border: 1px solid #ebede8;
}

.four-11 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #00de0f;
}

.four-12 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #00de0f;
}

.fifth-1 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ff00ff;
}

.fifth-2 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ff00ff;
}

.fifth-3 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #f8ff24;
}

.fifth-4 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #2747a1), to(#2747a1));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #2747a1 50%, #2747a1 100%);
  border: 1px solid #ebede8;
}

.fifth-5 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 30px;
  animation-duration: 3s;
  animation-name: color-animation;
  animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #2747a1), to(#2747a1));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #2747a1 50%, #2747a1 100%);
  border: 1px solid #ebede8;
}

.fifth-6 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.fifth-7 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 30px;
  animation-duration: 3s;
  animation-name: color-animation;
  animation-fill-mode: forwards;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #7fe1e3), to(#7fe1e3));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #7fe1e3 50%, #7fe1e3 100%);
  border: 1px solid #ebede8;
}

.fifth-8 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.fifth-9 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.fifth-10 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #003cff;
}

.fifth-11 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #ffffff;
  border: 1px solid #ebede8;
}

.fifth-12 {
  height: 30px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-animation;
          animation-name: color-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #003cff;
}

/* iro.jsのstyle*/
.iro {
  margin: 0 auto;
  display: block;
  float: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iro .half {
  width: 60%;
  padding: 32px 0;
}

.title {
  font-family: sans-serif;
  line-height: 24px;
  display: block;
  padding: 8px 0;
}

.swatch {
  height: 32px;
  margin: 4px 0;
  border-radius: 4px;
}

#colorList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#colorList .swatch {
  border-radius: 0;
}

#colorList li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#colorList li:first-child .swatch {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#colorList li:last-child .swatch {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#activeColor .swatch {
  width: 120px;
}

.readout {
  margin-top: 32px;
  line-height: 180%;
}

#values {
  font-family: monospace;
  line-height: 150%;
}

.link {
  margin-top: 16px;
}

.link a {
  color: MediumSlateBlue;
}
/*# sourceMappingURL=stylesheet.css.map */
